.Profile {
  background-color: #F0F6FB;
}

.Mystat-image{
margin: 10px;
}

li {
  list-style-type: none;
}

li img{
  height: 20px;
}

img {
  height: 50px;
}

nav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #475768;
  overflow-x: hidden;
  padding-top: 20px;
}

nav a{
  color: #a1a9af;
  text-decoration: none
} 


.MyStat-header {
  background: #fff;
  display: flex;
  color: black;
  height:10%;
  margin-left: 260px;
  padding: 12px 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
  box-sizing: border-box;
}

.Image-header {
  height: 62px;
  width: 62px;
  border-radius: 50%;
}

.UserName-header{
  max-width: 275px;
  min-width: 270px;
  padding: 0 15px;
  
}

.GroupSelect-header{

  padding: 10px 60px 10px 35px;
  border: none;
}

.kol-voStart-header{
  padding: 0 5px;
}

.Stars-header {
  height: 18px;
  margin-right: 15px;
}

.Diamonds-Coins-header{
  display: flex;
  background-color: #f1f6fa;
  border-radius: 25px;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.Diamonds-Coins-header p{
  padding: 0 5px;
}

.Diamonds-Coins-header img{
  padding: 0 5px;
}

.Diamonds-header{
  height: 18px;
}

.Coins-header{
  height: 18px;
}

.Badges-header{
  height: 18px;
}



.Select-header {
  color: #a6acb9;
  width: 3rem;
  border: none;
}

.LangQuit-header {
  margin-right: 40px;
}

.Quit-header {
  height: 25px;
  width: 20px;
}




.DivMain {
  margin-left: 360px;
  margin-right: 100px;
  font-size: 40px;
  background-color: #F0F6FB;
  margin-bottom: 100%;
}

.Profile-General {
  background-color: #fff;
  padding: 30px 70px 100px 70px;
  border-radius: 16px;
  display: flex;
  
}

.Profile-General img{
  border-radius: 50%;
  height: 134px;
  width: 134px;
  display:block;
  margin-bottom: 15px;
}

.FirstColumn-Main{
  text-align: center;
}

.FirstColumn-Main  a{
  border: 1px solid #F0F6FB;
  border-radius: 4px;
  background-color: #F0F6FB;
  font-size: 13px;
  color: black;
  padding: 5px;
  text-decoration: none
}

.SecondColumn-Main {
  margin: 0px 70px;
  width: 30%;
}

.SecondColumn-Main input{
  background-color: #F0F6FB;
  font-size: 13px;
  border: none;
}

.SecondColumn-Main input::placeholder {
  color: #60758B;
}


.SecondColumn-Main p{
  background-color: #F0F6FB;
  font-size: 13px;
  color: #60758B;
  border-radius: 8px;
  padding: 0px 10px;
  height: 20%;
  text-align:left;
  align-content: center;
  margin-bottom: 40px;
}

.ThirdColumn-Main {
  width: 30%;
}

.ThirdColumn-Main input{
  background-color: #F0F6FB;
  font-size: 13px;
  border: none;
}

.ThirdColumn-Main input::placeholder {
  color: #60758B;
}

.ThirdColumn-Main p{
  background-color: #F0F6FB;
  font-size: 13px;
  color: #60758B;
  border-radius: 8px;
  padding: 0px 10px;
  height: 20%;
  align-content: center;
  margin-bottom: 40px;
}

.SaveBtn {
  background-color: #60758B;
  text-align: center;
  margin-top: 10px;
  width: 30%;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.SaveBtn a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.DataOffice{
  font-size: 26px;
  
}

.LoginLinkOffice{
  border-radius: 16px;
  display:flex;
  font-size: 20px;
  background-color: white;
  padding: 0px 30px 40px 30px;
}

.LoginOffice{
  width: 35%;
  padding-left: 5%;
  padding-right: 20%;
}

.LinkOffice{
  width: 35%;
  padding-right: 5%;
}

.OfficeTextArea{
  background-color:#F0F6FB ;
}


.BonusBalance p{
  font-size: 26px;
}

.Bonuses-Main {
  background-color: white;
  text-align: center;
  display:flex;
  border-radius: 16px;
  padding: 0px 40px;
}

.Bonuses-Main2 {
  display:flex;
  margin-left: auto;
  margin-right: auto;
}

.SimpleBonus{
  padding: 10px;
}

.SimpleBonus p{
  font-size: 20px;
}

.ValueBonuses{
  background-color: #F0F6FB;
}

.Usp p{
  font-size: 26px;
}
.IDK{
  background-color: white;
  padding: 30px 70px;
  display:flex;
  border-radius: 16px;
}

.IDK1{
  background-color: #F0F6FB;
  height: 250px;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: 10px;
  width: 45%;
}

.IDK2{
  background-color: #F0F6FB;
  height: 250px;
  padding: 10px 10px;
  margin-right: auto;
  margin-left: 10px;
  width: 45%;
}


